<!-- <nav class="navbar fixed-top custom-nav">

    <div>
      <button type="button" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
  
      <a class="navbar-brand text-white" routerLink="/home">&nbsp; Dashboard</a>
    </div>
  
    <div>
      <button mat-flat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>&nbsp;username
      </button>
      <mat-menu #menu="matMenu" class="text-center">
        <mat-list>
          <mat-list-item> <a routerLink="/home/profile" routerLinkActive="active">Profile</a> </mat-list-item>
          <mat-list-item> <span class="btn btn-sm btn-danger" (click)="_auth.logout()">Logout</span> </mat-list-item>
        </mat-list>
      </mat-menu>
    </div>
  
  </nav> -->
<!-- <nav class="navbar fixed-top custom-nav"> -->

  <div id="mySidebar" class="sidebar" [ngClass]="isOpen ? 'active' : ''">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <!-- <a class="leave-management" >Leave Management</a> -->
      <a routerLink="/dashboard/employees" routerLinkActive="active">Employee List</a>
      <a routerLink="/dashboard/leaverequests" routerLinkActive="active">Leave-Request List</a>
      <a routerLink="/dashboard/leavetypes" routerLinkActive="active">Leave-Type List</a>
      <a routerLink="/dashboard/tasks" routerLinkActive="active">Task List</a>
      <a routerLink="/dashboard/projects" routerLinkActive="active">Project List</a>
      <!-- <a routerLink="/dashboard/employees" routerLinkActive="active">Event</a> -->
  </div>
    
  <!-- <div id="main p-0"> -->
    <!-- <nav class="navbar fixed-top custom-nav p-0"> -->
      <div class="d-flex p-3 top-nav">
          <div class="d-flex">
              <button (click)="openNav()">&#9776;</button>
              <h5 class="text-white pl-2">Dashboard</h5>
          </div>
          <div class="user-name">
            <a routerLink="/dashboard/profile/{{staffId}}">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <span class="pl-2">username</span>
            </a>
          </div>
      </div>
    <!-- </nav> -->
  <!-- </div> -->
<!-- </nav> -->


