/* .table thead th{
    border-bottom: 2px solid black;
    text-align: center;
}
table.table.table-hover{
    border: 2px solid grey;
    margin-top: 20px;
}
thead{
    background: lightblue;
    border: 2px solid grey;
}
tr{
    text-align: center;
} */