<div class="content-box task-list">
  <!-- <div class="col-md-12"> -->
  <div *ngIf="!isEdit">
    <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar> -->
    <form [formGroup]="projectForm">
      <div class="py-4 pl-5">
        <select  formControlName="projectCode"
          (ngModelChange)="getData(projectForm.value)">
          <option>Select Project</option>
          <option *ngFor="let prj of projectDetails" [ngValue]="prj">
            {{ prj.projectCode }}
          </option>
        </select> 
        <span class="pl-3">ProjectName :<b> {{projectName}}</b></span>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th rowspan="2">S.N</th>
          <th rowspan="2" (click)="sort('taskName')">TaskName </th>
          <th rowspan="2" (click)="sort('taskCode')">TaskCode </th>
          <th rowspan="2" (click)="sort('startDate')">Start Date </th>
          <th class="date" rowspan="2" (click)="sort('endDate')">End Date </th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th class="date">Sun</th>
          <th rowspan="2" (click)="sort('status')">Status</th>
          <th rowspan="2">Options</th>
        </tr>
        <tr >
          <th *ngFor="let tDate of week">{{ tDate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="events">
        <tr
          *ngFor="let event of dArray | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
          <td>{{i+1}}</td>
          <td>{{event.taskName}}</td>
          <td>{{event.taskCode}}</td>
          <td>{{event.startDate | date:'mediumDate' }}</td>
          <td>{{event.endDate | date:'mediumDate'}}</td>
          <ng-container *ngIf="durationArray.length != 0">
            <td *ngFor="let task of durationArray">{{ task.timeTaken }}</td>
          </ng-container>
          <ng-container *ngIf="durationArray.length == 0">
            <td >0</td>
            <td >0</td>
            <td >0</td>
            <td >0</td>
            <td >0</td>
            <td >0</td>
            <td >0</td>
          </ng-container>
          <td>{{event.status}}</td>
          <td><a routerLink="/dashboard/tasks/details/{{event._id}}">
              <button>View</button></a></td>
          <!-- <td><button (click)="selectEvent(event)" mat-raised-button>Edit</button></td> -->
        </tr>
      </tbody>
    </table>

    <div *ngIf="events" class="row col-md-12 mt-4">
      <div class="col-md-auto">
        <span class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) *
          size
          + numberOfElements }} of {{totalElements}}</span>
      </div>
      <div class="col">
        <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>

  </div>
  <app-events-manage *ngIf="isEdit"></app-events-manage>
  <!-- </div> -->

</div>