.leave-type .fa{
    font-size: 20px;
    padding-right: 6px;
}
.leave-type{
    border-bottom:1px solid grey;
    padding:10px 0px;
    text-align: center;
}
.leave-type a{
    color:#832023;
    text-decoration: none;
    padding:0px 30px;
    
}