<div class="time-tracking">
    <div class="d-flex">
        <button class="ml-4" (click)="goBack()">Go back</button>
        <button class="ml-auto" (click)="onAddProject()">Add project</button>
        <button (click)="onAddTask()">Add New Task</button>

    </div>
    <div class="col-md-12 row m-0 time-sheet py-2">
        <span>Timesheet For: <b>{{userDetails?.firstName}}</b></span>
        <span>Project: <b>{{projectName}}</b></span>
        <span>Work-Item Type: <b>All</b></span>
        <span>Work-Item Status: <b>Multiple</b></span>
        <span>TimeSheet Status: <b>All</b></span>
        <span>Week: <b>04-Jan-2021</b></span>
    </div>
    <div>
        <label for="project"><b>Project:</b></label>
        <form [formGroup]="projectForm">
            <td>

                <select formControlName="projectCode" (ngModelChange)="getData(projectForm.value.projectCode)">
                    <option>Select Project</option>
                    <option *ngFor="let prj of projectList" [ngValue]="prj">

                        {{ prj.projectCode }}
                    </option>
                </select> ProjectName:<b> {{projectName}}</b>
            </td>
        </form>

    </div>

    <div class="container">
        <div class="table-responsive mt-3">
            <form (ngSubmit)="onSave()">

                <table class="table">
                    <thead class="title">
                        <tr>
                            <th class="text-center" rowspan="2">ID</th>
                            <th rowspan="2">Name</th>
                            <th class="border-r" rowspan="2">Status</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                            <th class="border-l" rowspan="2">Billing Hour</th>
                        </tr>
                        <tr>
                            <th *ngFor="let dates of week">{{ dates }}</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <th scope="row">

                            </th>

                        </tr>
                        <ng-container>
                            <ng-container *ngFor="let task of taskForm.get('taskList')['controls']">
                                <tr [formGroup]="task">
                                    <td><input formControlName="taskName"></td>
                                    <td><input formControlName="taskCode"></td>
                                    <td><input formControlName="status"></td>
                                    <ng-container formArrayName="duration">
                                        <!-- <ng-container formArrayName="duration"> -->
                                            <ng-container *ngFor="let timing of task.get('duration').controls;let playerIndex=index" [formGroupName]="playerIndex">
                                                <td ><input formControlName="TimeTaken"></td>
                                            </ng-container>
                                        <!-- </ng-container> -->
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <!-- <tr> -->
                        <!-- taskList -->
                        <!-- <td scope="row">{{ task.taskCode }}</td>
                                    <td>{{task.taskName}}</td> -->
                        <!-- <ng-container formArrayName="taskList">
                            <tr *ngFor="let task of taskList.controls"> -->
                        <!-- {{task | json}} -->
                        <!-- <ng-container [formGroup]="task">
                                    {{task | json}}
                                    <td scope="row">{{ task.taskCode }}</td>
                                    <td>{{task.taskName}}</td>
                                </ng-container> -->
                        <!-- <td>
                                    <div formArrayName="aliases">
                                        <button (click)="addAlias()">Add Alias</button>
    
    
                                        <div *ngFor="let alias of aliases.controls; let i=index">
    
                                            <input type="text" [formControlName]="i">
    
                                        </div>
                                    </div>
                                </td> -->
                        <!-- <ng-container formGroupName="TaskTiming">
                                    <ng-container formArrayName="duration">
                                        <ng-container *ngFor="let duration of duration  ">
                                            <td><input formControlName="TimeTaken"></td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container> -->

                        <!-- <td>
                                        <select formGroupName="status">
                                            <option>pending</option>
                                        </select>
                                    </td> -->
                        <!-- <ng-container formArrayName="TaskTiming">
                                       
                                            <td *ngFor="let item of taskForm.controls.TaskTiming.controls; let i=index;let l=last"
                                                 [formGroupName]="i">
                                                    <input type="number" formControlName="TimeTaken">
                                            </td>
                                    </ng-container> -->

                        <!-- <td>
                                        <input type="number" name="firstDay"  >
                                    </td> -->
                        <!-- <td>
                                        <input type="number" name="secondDay" formControlName="TimeTaken" >
                                    </td>
                                    <td>
                                        <input type="number" name="">
                                    </td>
                                    <td>
                                        <input type="number" name="">
                                    </td>
                                    <td>
                                        <input type="number" name="">
                                    </td>
                                    <td>
                                        <input class="bg-grey" type="number">
                                    </td>
                                    <td>
                                        <input class="bg-grey" type="number">
                                    </td> 
                                    <td>0.00</td> -->
                        <!-- </tr>
                        </ng-container> -->
                    </tbody>
                </table>

                <button type="submit">Save</button>
            </form>
            <!-- <button type="button" (click)="addNewColumn()">Add new Column</button>  -->
        </div>
    </div>
</div>