<div class="time-tracking">
    <div class="d-flex">
        <button class="ml-4"(click)="onAddProject()">Go back</button>
        <button class="ml-auto"(click)="onAddProject()">Add project</button>
        <button  (click)="onAddTask()">Add New Task</button>
        <button (click)="onSave()">Save</button>
    </div>
    
    <div class="time-sheet">
        <div class="col-md-12 row m-0  p-0">
            <span>Timesheet For: <b>Dharani Gavvagi</b></span>
            <span>Project: <b>Baxter CoreFlex Services - Flex [PROJ003546R.</b></span>
            <span>Work-Item Type: <b>All</b></span>
            <span>Work-Item Status: <b>Multiple</b></span>
            <span>TimeSheet Status: <b>All</b></span>
            <span>Week: <b>04-Jan-2021</b></span>
        </div>
        <div class="table-responsive mt-3">
            <table class="table">
                <thead class="title">
                    <tr>
                        <th class="text-center" rowspan="2">ID</th>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">Status</th>
                        <th>Mon <span>04/21</span></th>
                        <th>Tue<span>04/21</span></th>
                        <th>Wed<span>04/21</span></th>
                        <th>Thu<span>04/21</span></th>
                        <th>Fri<span>04/21</span></th>
                        <th>Sat<span>04/21</span></th>
                        <th>Sun<span>04/21</span></th>
                        <th rowspan="2">Billing Hour</th>
                    </tr>
                    <tr>
                        <th *ngFor="let dates of week">{{ dates }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <select>
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </th>
                        <td>Total</td>
                        <td></td>
                        <td>9.00</td>
                        <td>9.00</td>
                        <td>9.00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>24.00</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <select>
                                <option>PROJ003546R.0034051...</option>
                                <option>HRM PROJECT</option>
                                <option>HOTEL PROJECT</option>
                                <option>RESTAURANT PROJECT</option>
                            </select>
                        </th>
                        <td>Baxter CoreFlex Services - Flex</td>
                        <td>Routed</td>
                        <td>9.00</td>
                        <td>9.00</td>
                        <td>9.00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>24.00</td>
                    </tr>
            <!-- <tr *ngFor="let prj of projectList">
                    <th scope="row">{{ prj.projectCode }}</th>
                    <td>{{ prj.projectName }}</td>
                    <td>Routed</td>
            </tr> -->
            <!-- <tr *ngFor="let task of taskListArray"> -->
                    <tr >
                    <!-- <th scope="row">{{ task.key }}</th>
                    <td>{{ task.name }}</td> -->
                        <th scope="row"></th>
                        <td></td>
                        <td>
                            <select>
                                <option>Open</option>
                                <option>Completed</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        <td>
                            <input class="bg-grey" type="text">
                        </td>
                        <td>
                            <input class="bg-grey" type="text">
                        </td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>