img{
	max-width:100%;
}
select{
    border:none;
}
select,input,.time-tracking{
    background-color: #e7d2b7;
}
button{
    margin: 10px;
    padding:3px 10px;
    background-color: green;
    color: white;
    border: none;
    outline:none;
    border-radius:5px;
    font-size: 13px;
}

.time-tracking {
    min-height: 100vh;
}

input{
    border:1px solid grey;
    width:55px;
    height:23px;
}
ul li{
    list-style: none;
    display: inline;
    padding-right:15px;
}
ul li a{
    color:white;
    text-decoration: none !important;
    font-size: 14px;
}
ul li a:hover{
    color:white;
}
.bg-grey{
    background-color: grey;
}




#header{
	background-color: #287058;
}
.nav-bar{
    background-color: #2d5a46;
}
.fa{
	font-size: 19px;
	padding-left:15px;
}
.has-search .form-control {
    padding-left: 33px;
    height:30px;
}
.has-search .form-control-feedback {
    position: absolute;
    top: 6px;
    padding-left: 10px;
    font-size: 18px;
}
.time-sheet span{
    font-size: 11px;
    padding-right:8px;
    width:auto;
}

.border-r{
    border-right:2px solid grey;
}
.border-l{
    border-left: 2px solid grey;
}
.table th{
    text-align: center;
}
.table-responsive{
    border:1px solid black;
    /* height: 400px; */
}
.title th{
    text-align: left;
}
.table thead th{
    vertical-align: middle;
    border-bottom:2px solid grey;
}
.table td,.table th{
    border-top:1px solid grey;
    vertical-align:middle;
}

   

