<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0">
  <div class="col-md-6 p-0 d-flex align-items-center elaachi-logo">
      <a href="#" class="navbar-brand">
          <img src="../../../../assets/icons/images/elaachi 2.png" alt="elaachi-logo">
      </a>
      <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button> -->
    <input class="form-control" type="text" placeholder="Search by keyword..." aria-label="Search">
    </div>
    <div class="col-md-6 fonts p-0">	
      <div class="font-icons">
        <div class="transform">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <i class="fa fa-object-ungroup" aria-hidden="true"></i>
          <i class="fa fa-users" aria-hidden="true"></i>
          <i class="fa fa-cubes" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icons">
        <b>Aa</b>
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <i class="fa fa-list" aria-hidden="true"></i>
      </div>
        <button (click)="logout()"> Logout</button>
    </div>

</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1b4332;">
    <a class="navbar-brand" >Elaachi-HRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" (click)="routerNavigate()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" >Tasks</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav> -->
  

