.form-box {
    border: 1px solid #dadada;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
}
.btn,.form-check-input:checked{
    background-color: #ac492b;
}
.btn{
    color:white;
    padding:3px;
    margin-top: 25px;
}
.btn:focus{
    border:2px solid grey
}
.form-control:focus,.btn:focus{
    box-shadow: none;
}
.form-control:focus{
    border:1px solid grey;
}
.form-box{
    padding:25px;
}
.form-check-input:checked{
    border-color: #ac492b;
}
button{
    border-radius: 5px;
    background-color: #ac492b;
    color: #fff;
    border: none;
    padding: 3px 10px;
    /* margin: 20px auto 0px; */
    display: block;
    margin-left: auto;
    margin-top: 20px;
}
.form-check-label{
    font-size: 14px;
}