<app-header></app-header>
<!-- <div class="wrapper">
  <div class="col-md-12 p-0">
    <div class="payslip">
        <div class="row m-0 justify-content-between py-2">
            <h6 class="p-0">My Payslip</h6>
            <i class="fa fa-close fs-12 p-0"></i>
        </div>
        <div class="fs-12">
            <label for="months">Select Payslip Period:</label>
            <div class="form-group row m-0 mt-4">
              <label for="mon" class="col-sm-4 col-form-label p-0">Select Month&nbsp;<span class="text-danger">* </span></label>
              <div class="col-sm-8 p-0 pb-4 staff">
                <select (ngModelChange)="getMonthData($event)" [(ngModel)]="selectedMonth" >
                    <option *ngFor="let month of monthNames" [ngValue]="month">
                        {{ month }}
                    </option>
                </select>
              </div>
            </div>
            <div class="form-group row m-0 mt-4">
              <label for="mon" class="col-sm-4 col-form-label p-0">Select Year&nbsp;<span class="text-danger">* </span></label>
              <div class="col-sm-8 p-0 pb-4 staff">
                <select (ngModelChange)="getYearData($event)" [(ngModel)]="selectedYear" >
                    <option *ngFor="let year of years" [ngValue]="year">
                        {{ year }}
                    </option>
                </select>
              </div>
            </div>
            <button class="ml-4 fs-12">Go</button>
            <button class="ml-4 fs-12">Share</button>
        </div>
    </div>
  </div>
</div> -->
<div class="row m-0 mt-5 content-box">
  <div class="col-md-12 p-0">
    <table class="table table-hover">
      <thead class="employee-details">
        <th>S.N</th>
        <th>Employee</th>
        <th>Month</th>
        <th>Year</th>
        <th>File</th>
        <th>Options</th>
      </thead>
      <tbody>
        <tr *ngFor="let pay of selectedPay; let i = index">
          <td>{{i+1}}</td>
          <td><a routerLink="/dashboard/employees/details/{{pay.staffId._id}}">
              {{ pay.staffId.firstName }}
            </a></td>
          <td>{{pay.month}}</td>
          <td>{{pay.year}}</td>
          <td *ngFor="let pid of pay.file">
            <a href="http://localhost:3000/api/v1/files/{{ pid.file }}">{{ pid.file }}<i class="fa fa-download" aria-hidden="true"></i></a>
          </td>
          <td class="edit-btn"><a routerLink="/dashboard/payslips/details/{{pay._id}}">
              <button class="mr-2"><i class="fa fa-pencil-square-o font-weight-bold" aria-hidden="true"></i></button></a>
              <button ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

