<div class="wrapper">
    <div class="col-md-12 p-0 row m-0 profile" >
        <div class="col-md-5">
            <div class="heading p-4 m-4">
                <div class="d-flex justify-content-between ">
                    <h5>PROFILE</h5>
                    <h5>MY ORG PROFILE</h5>
                </div>
                <div class="avatar" routerLink="/userProfile">
                    <img src="../../../../assets/icons/images/user-profile.png" alt="avatar" width="20%">
                    <span class="d-block">Dharani Gavvagi</span>
                </div>
                <div class="month-data">
                    <h5>CURRENT MONTH DATA</h5>
                    <div class="work-hours">
                        <span>27<small>Expected Work Hours</small></span>
                        <span>27<small>Swipe In + On Duty Hours</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 quick-access">
            <div class="functions p-4 m-4">
                <div>
                    <h5>QUICK ACCESS FUNCTIONS</h5>
                    <div class="d-flex text-center">
                        <!-- <div class="access" routerLink="/userProfile/applyLeave">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>Apply Leave</span>
                        </div> -->
                        <div class="access" (click)="openModal()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>Apply Leave</span>
                        </div>
                        <div class="access" routerLink="/userProfile/attendance">
                            <i class="fa fa-user-times" aria-hidden="true"></i>
                            <span>Attendance</span>
                        </div>
                        <div class="access" routerLink="/userProfile/paySlip">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>Payslip</span>
                        </div>
                        <div class="access" routerLink="/userProfile/taskDetails">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>Timelog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="dashboard">
        <div class="container">
            <div  class="row m-0 text-center">
                <div class="col-md-2">
                    <img src="../../../../assets/icons/images/user-profile.png" routerLink="../userProfile"
                        style="size: 40px;" class="rounded" alt="user-profile">
                    <h6>User Profile</h6>
                </div>
                <div class="col-md-2">
                    <img src="../../../../assets/icons/images/calendar_applyleave.png" routerLink="../userProfile/applyLeave"
                        style="size: 40px;" class="rounded" alt="apply-leave">
                    <h6 >Apply Leave</h6>
                </div>
                <div class="col-md-2">
                    <img src="../../../../assets/icons/images/attendance.png" routerLink="../userProfile/attendance"
                        style="size: 40px;" class="rounded" alt="attendance">
                    <h6 >Attendance</h6>
                </div>
                <div class="col-md-2">
                    <img src="../../../../assets/icons/images/timelog.png" routerLink="../userProfile/taskDetails"
                        style="size: 40px;" class="rounded" alt="time-log">
                    <h6 >Timelog</h6>
                </div>
                <div class="col-md-2">
                    <img src="../../../../assets/icons/images/rupee_icon.png" routerLink="../userProfilepaySlip"
                        style="size: 40px;" class="rounded" alt="pay-slip">
                    <h6 >Pay Slip</h6>
                </div>
            </div>
        </div>
    </div>



     -->

