/* img {
    width: 40%;
}

.dashboard {
    margin-top: 10%;
} */
.wrapper {
    background-image: url('../../../../assets/icons/images/bg-1.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
  }
  
h5{
    font-size: 12px;
    color:#7f1b1d;
    position: relative;
}
h5:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 15px;
    border-bottom: 2px solid;
    color: red;
}
.navbar-brand {
    margin-left: 40px;
}
.elaachi-logo input {
    width: 30%!important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.fonts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.font-icons{
	background-color: #832023;
    margin-right: 15px;
    padding: 10px 0px;
    transform: skewX(-17deg);
}
.transform{
	transform: skewX(+17deg);
}
.font-icons i{
	margin: 0px 3px;
}
.icons .fa {
    margin: 0px 10px;
}
.profile{
    align-items: center;
}
.heading{
    background-color: white;
    max-height: 55vh;
    min-height: 55vh;
}
.avatar{
    width: 50%;
    margin: 30px auto;
}
.avatar img{
    width: 50%;
    margin:0px auto;
    display: block;
}
.avatar span{
    margin: 12px 0px;
    text-align: center;
}
.work-hours{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.work-hours small{
    display: block;
    font-size: 12px;
}
.month-data h5{
    border-bottom: 1px solid;
    padding: 5px 0px;
}
.month-data h5:after {
    border-bottom: none;
}
.functions{
    width: 100%;
    background-color: white;
    padding: 29px;
    min-height: 55vh;
}
.functions span{
    display: block;
    font-size: 12px;
    padding-top:2px;
}
a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.access .fa{
    font-size: 20px;
}
.access{
    border: 1px solid grey;
    border-radius: 7px;
    margin-top:20px;
}
.access:hover{
    background-color: burlywood;
}
.heading,.functions{
    width:90%;
    margin:0px auto;
}

/*-------------main ends here---------------------*/
@media (min-width: 769px) and (max-width: 991px){
    .elaachi-logo input {
        width: 50% !important;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .heading{
        width: 100%;
    }
    .work-hours small {
        font-size: 9px;
    }
    .avatar span {
        font-size: 13px;
    }
    .functions{
        width: 100%;
    }
}
@media (min-width: 706px) and (max-width: 768px){
    .elaachi-logo input {
        width: 50% !important;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .heading{
        width: 100%;
    }
    .work-hours small {
        font-size: 9px;
    }
    .avatar span {
        font-size: 13px;
    }
    .functions{
        width: 100%;
    }
}
 @media (min-width: 360px) and (max-width: 705px){
    .profile {
        margin-top: 100px !important;
    }
    .elaachi-logo input {
        width: 50% !important;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .heading{
        width: 100%;
    }
    .work-hours small {
        font-size: 9px;
    }
    .avatar span {
        font-size: 13px;
    }
    .functions{
        width: 100%;
    }
    .quick-access {
        margin-top: 10px;
    }
    .access{
        margin-top:20px;
        width:43%;
    }
}
