<div class="dashboard">
    <div class="container">
        <div  class="row m-0 text-center">
            <div class="col-md-2">
                <img src="../../../../assets/icons/images/user-profile.png" routerLink="../userProfile"
                    style="size: 40px;" class="rounded" alt="user-profile">
                <h6>User Profile</h6>
            </div>
            <div class="col-md-2">
                <img src="../../../../assets/icons/images/calendar_applyleave.png" routerLink="../applyLeave"
                    style="size: 40px;" class="rounded" alt="apply-leave">
                <h6 >Apply Leave</h6>
            </div>
            <div class="col-md-2">
                <img src="../../../../assets/icons/images/attendance.png" routerLink="../attendance"
                    style="size: 40px;" class="rounded" alt="attendance">
                <h6 >Attendance</h6>
            </div>
            <div class="col-md-2">
                <img src="../../../../assets/icons/images/timelog.png" routerLink="../taskDetails"
                    style="size: 40px;" class="rounded" alt="time-log">
                <h6 >Timelog</h6>
            </div>
            <div class="col-md-2">
                <img src="../../../../assets/icons/images/rupee_icon.png" routerLink="../paySlip"
                    style="size: 40px;" class="rounded" alt="pay-slip">
                <h6 >Pay Slip</h6>
            </div>
        </div>
    </div>
</div>






<app-footer></app-footer>