.employee-types{
    display: flex;
    padding:15px;
    color: #3f51b5;
    border-bottom: 1px solid #ccc;
}
.employee-types i{
    padding-right: 8px;
}
.employee-types a{
    text-decoration:none;
    color:none;
}
.employees a{
    color: #3f51b5;
}

