.employees .fa{
    font-size: 20px;
    padding-right: 6px;
}
.employees {
    border-bottom:1px solid grey;
    padding:10px 0px;
    text-align: center;
}
.employees a{
    color: #832023;
    text-decoration: none;
}
