<div class="col-md-12 mt-5 px-4">
  <div *ngIf="isLeaveTypeSelected" class="row m-0">
    <div class="col-md-10 mx-auto">
      <button class="float-right" (click)="toggleEdit()">
          {{isEdit ? "View Details" : "Edit"}}
      </button>
      <div class="profile-head text-center">
        <h5><span class="font-weight-bold text-success">{{selectedleaveType.name}}</span></h5>
        <p>Created Date : <span class="font-weight-bold">{{selectedleaveType.createdAt | date :'medium'}}</span></p>
      </div>
      
      <div class="col-md-12 mx-auto row m-0 mt-3">
        <strong class="text-center">Info</strong>
        <div class="col-md-8 mx-auto my-3">
          <div *ngIf="!isEdit" class="leave-type p-4">
            <div class="col-md-10">
              <p>LeaveType Id: {{selectedleaveType._id}}</p>
              <p>Type Name: {{selectedleaveType.name}}</p>
              <p>Status: {{selectedleaveType.status}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isEdit" class="col-md-6 leave-type p-4 mx-auto">
      <form [formGroup]="leaveTypeUpdateForm" (ngSubmit)="onSubmit()">

        <div *ngIf="!!leaveType_update_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{leaveType_update_msg}}</div>

        <div class="form-group row m-0">
          <label for="name" class="col-sm-4 col-form-label">Type Name&nbsp;<span class="text-danger">*</span></label>
          <div class="col-sm-7 p-0">
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Leave Type Name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Type Name is required</div>
              <div *ngIf="f.name.errors.minlength">Type Name must be at least 3 characters</div>
            </div>
          </div>
        </div>

        <div class="form-group row m-0 my-4">
          <label for="status" class="col-sm-4 col-form-label">Status &nbsp;<span class="text-danger">* </span></label>
          <div class="col-sm-7 p-0 d-flex">
            <div class="form-check px-4">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">ACTIVE</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">INACTIVE</label>
            </div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Status is required</div>
            </div>
          </div>
        </div>
        <button class="submit" type="submit">Submit</button>
      </form>
    </div>
    <div *ngIf="!isLeaveTypeSelected">
        <h4>Please Select Leave Type</h4>
    </div>
  </div>
</div>
