<div class="row">
    <div class="col-md-6">
        <h6>EDIT CONTACT DETAILS</h6>
        <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit()" class="btn btn-success" [disabled]="!editForm.valid">Update</button> |
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="mob">Mobile :- </label>
                    <input id="mob" type="text"  formControlName="mobile" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="ext">Ext No :- </label>
                    <input id="ext" type="text" formControlName="extno" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="email">Email/Skype :- </label>
                    <input id="email" type="text" formControlName="email" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="twitter">Twitter :- </label>
                    <input id="twitter" type="text" formControlName="twitter" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="fb">Facebook :- </label>
                    <input id="fb" type="text" formControlName="facebook" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="linkedIn">LinkedIn :- </label>
                    <input id="linkedIn" type="text" formControlName="linkedIn" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="work">WorkStation :- </label>
                    <input id="work" type="text" formControlName="workstation" class="form-control" required/>
                </div>
            </div>
        </form>
    </div>
</div>
