<!-- <div class="row">
    <div class="col-md-6">
        <h6>EDIT CONTACT DETAILS</h6>
        <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Update</button> |
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="name">Name :- </label>
                    <input id="name" type="text"  formControlName="name" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="desig">Designation :- </label>
                    <input id="desig" type="text" formControlName="designation" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="state">State :- </label>
                    <input id="state" type="text" formControlName="state" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="mob">Mobile :- </label>
                    <input id="mob" type="text" [ngModel]="value" (ngModelChange)="onChange($event)"  formControlName="mobile" class="form-control" numbersOnly required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="ext">Ext No :- </label>
                    <input id="ext" type="text" formControlName="extno" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="email">Email :- </label>
                    <input id="email" type="text" formControlName="email" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="twitter">Twitter :- </label>
                    <input id="twitter" type="text" formControlName="twitter" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="fb">Facebook :- </label>
                    <input id="fb" type="text" formControlName="facebook" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="linkedIn">LinkedIn :- </label>
                    <input id="linkedIn" type="text" formControlName="linkedIn" class="form-control" required/>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="work">WorkStation :- </label>
                    <input id="work" type="text" formControlName="workstation" class="form-control" required/>
                </div>
            </div>
        </form>
    </div>
</div> -->
<div class="container">
    <main class="col-12">
  <h3 class="bd-title" id="content">CONTACT DETAILS</h3>
  <br/>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
      <label>Mobile no </label>
      <input type="tel" formControlName="mobile" class="form-control"  />
  </div>
  <div class="form-group">
    <label>Ext no </label>
    <input type="number" formControlName="extno" class="form-control"  />
</div>
<div class="form-group">
    <label>Email/Skype </label>
    <input type="text" formControlName="email" class="form-control"  />
</div>
  <div class="form-group">
      <label>Twitter</label>
      <input type="text" formControlName="twitter" class="form-control"  />
  </div>
  <div class="form-group">
      <label>Facebook</label>
      <input type="text" formControlName="facebook" class="form-control"  />
  </div>
  <div class="form-group">
    <label>LinkedIn</label>
    <input type="text" formControlName="linkedIn" class="form-control"  />
</div>
<div class="form-group">
    <label>WorkStation</label>
    <input type="text" formControlName="workStation" class="form-control"  />
</div>
  <button [disabled]="!(editForm.valid ||!editForm['isDirty']())" class="btn btn-primary">Update</button>
  </form> 
  </main></div>