.form-box{
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border: 1px solid #dadada;
    padding: 25px;
    border-radius: 5px;
}
.name{
    width: 100%;
    height: 100%;
    color: #495057;
    background-color: #fff;
    padding: .375rem 0.5rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.name:focus{
    outline: none;
}
button{
    border-radius: 5px;
    background-color: #ac492b;
    color: #fff;
    border: none;
    padding: 5px 12px;
}