<div class="col-md-12 mt-4 px-4">

    <div *ngIf="isPayslipSelected" class="row">
      <div class="col-md-10 mx-auto">
          <button  class="float-right" (click)="toggleEdit()">
            {{isEdit ? "View Details" : "Edit"}}
          </button>
        <div class="profile-head text-center">
          <h5><span class="font-weight-bold text-success">{{selectedStaff?.firstName}}</span>
          </h5>
          <p>Created Date : <span class="font-weight-bold">{{selectedPay.createdAt | date :'medium'}}</span></p>
        </div>
        
        <div class="col-md-12 mx-auto row m-0 mt-3">
          <strong class="text-center">Info</strong>
          <div *ngIf="!isEdit" class="col-md-8 mx-auto my-4">
            <div  class="payslip p-4">
              <p>Staff Id : {{selectedStaff?._id}}</p>
              <p>Staff Name : {{selectedStaff?.firstName}}</p>
              <p>Date Issued : {{selectedPay.dateIssued}}</p>
              <p>File Chosen : {{selectedPay.fileChosen}}</p>
            </div>
          </div>
        </div>

        <div *ngIf="isEdit" class="col-md-8 payslip p-4 mt-4 mx-auto">
          <form [formGroup]="payUpdateForm" (ngSubmit)="onSubmit()">
            <div *ngIf="!!pay_update_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{pay_update_msg}}</div>
            <div class="form-group row m-0 mb-4 mt-2">
              <label for="staff" class="col-sm-4 pr-0 col-form-label">Staff Id &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="text" id="staff" formControlName="staffId" class="form-control" placeholder="Staff ID"
                  [ngClass]="{ 'is-invalid': submitted && f.staffId.errors }" />
                <div *ngIf="submitted && f.staffId.errors" class="invalid-feedback">
                  <div *ngIf="f.staffId.errors.required">staffId is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row m-0 my-4">
              <label for="dateIssued" class="col-sm-4 pr-0 col-form-label">Date Issued &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="text" id="dateIssued" formControlName="dateIssued" class="form-control" placeholder="Date Issued"
                  [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
                <div *ngIf="submitted && f.dateIssued.errors" class="invalid-feedback">
                  <div *ngIf="f.dateIssued.errors.required">Date Issued is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row m-0 my-4">
              <label for="dateIssued" class="col-sm-4 pr-0 col-form-label">Date Issued &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="text" id="dateIssued" formControlName="dateIssued" class="form-control" placeholder="Date Issued"
                  [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
                <div *ngIf="submitted && f.dateIssued.errors" class="invalid-feedback">
                  <div *ngIf="f.dateIssued.errors.required">Date Issued is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row m-0 my-4">
              <label for="fileChosen" class="col-sm-4 pr-0 col-form-label">Date Issued &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="file" id="fileChosen" formControlName="fileChosen" class="form-control" (change)="upload($event.target.files)"
                  [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
                <div *ngIf="submitted && f.fileChosen.errors" class="invalid-feedback">
                  <div *ngIf="f.fileChosen.errors.required">file is required</div>
                </div>
              </div>
            </div>

            <!-- <div class="form-group row mb-4">
              <label for="file" class="col-sm-4 col-form-label">Choose File</label>
              <div class="col-sm-7">
                <input type="file" id="file" formControlName="fileChosen" (change)="upload($event.target.files)" class="form-control" />
              </div>
            </div> -->

            <button class="submit" type="submit">Submit</button>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div *ngIf="!isPayslipSelected">
      <h4>Please Select PaySlip </h4>
    </div>
  
  </div>
;