<div class="col-md-12 mt-4 px-4">

    <div *ngIf="isPayslipSelected" class="row">
      <div class="col-md-10 mx-auto">
          <button  class="float-right" (click)="toggleEdit()">
            {{isEdit ? "View Details" : "Edit"}}
          </button>
        <div class="profile-head text-center">
          <h5><span class="font-weight-bold text-success">{{selectedStaff?.firstName}}</span>
          </h5>
          <p>Created Date : <span class="font-weight-bold">{{selectedPay.createdAt | date :'medium'}}</span></p>
        </div>
        
        <div class="col-md-12 mx-auto row m-0 mt-3">
          <strong class="text-center">Info</strong>
          <div *ngIf="!isEdit" class="col-md-8 mx-auto my-4">
            <div  class="payslip p-4">
              <p>Staff Id : {{selectedStaff?._id}}</p>
              <p>Staff Name : {{selectedStaff?.firstName}}</p>
              <p>Month : {{selectedPay.month}}</p>
              <p>Year: {{selectedPay.year }}</p>
              <p>File Chosen :
                <a href="http://localhost:3000/api/v1/files/ {{selectedFile.file}}">{{selectedFile.file}}<i class="fa fa-download" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>  
        </div>

        <div *ngIf="isEdit" class="col-md-8 payslip p-4 mt-4 mx-auto">
          <form [formGroup]="payUpdateForm" (ngSubmit)="onSubmit()">
            <div *ngIf="!!pay_update_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{pay_update_msg}}</div>
            <div *ngIf="currentFileUpload" class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                {{progress.percentage}}%</div>
            </div>
            <div class="form-group row m-0 mb-4 mt-2">
              <label for="staff" class="col-sm-4 pr-0 col-form-label">Staff Id &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="text" id="staff" formControlName="staffId" class="form-control" placeholder="Staff ID"
                  [ngClass]="{ 'is-invalid': submitted && f.staffId.errors }" />
                <div *ngIf="submitted && f.staffId.errors" class="invalid-feedback">
                  <div *ngIf="f.staffId.errors.required">staffId is required</div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row m-0 my-4">
              <label for="dateIssued" class="col-sm-4 pr-0 col-form-label">Date Issued &nbsp;<span class="text-danger">*</span></label>
              <div class="col-sm-8 p-0">
                <input type="text" id="dateIssued" formControlName="dateIssued" class="form-control" placeholder="Date Issued"
                  [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
                <div *ngIf="submitted && f.dateIssued.errors" class="invalid-feedback">
                  <div *ngIf="f.dateIssued.errors.required">Date Issued is required</div>
                </div>
              </div>
            </div> -->
            <div class="form-group row m-0 mb-4 mt-2">
              <label for="mon" class="col-sm-4 pr-0 col-form-label">Select Month&nbsp;<span class="text-danger">* </span></label>
              <div class="col-sm-8 p-0">
                <select formControlName="month" (ngModelChange)="getMonthData(payUpdateForm.value)">
                    <option>Select Month</option>
                    <option *ngFor="let month of monthNames" [ngValue]="month">
                        {{ month }}
                    </option>
                </select>
              </div>
            </div>
            <div class="form-group row m-0 mt-4">
              <label for="mon" class="col-sm-4 col-form-label p-0">Select Year&nbsp;<span class="text-danger">* </span></label>
              <div class="col-sm-8 p-0">
                <select formControlName="year" (ngModelChange)="getYearData(payUpdateForm.value)">
                    <option>Select Year</option>
                    <option *ngFor="let year of years" [ngValue]="year">
                        {{ year }}
                    </option>
                </select>
              </div>
            </div>
            <div formArrayName="file">
              <div class="form-group row m-0 my-4">
                <label for="file" class="col-sm-4 pr-0 col-form-label">Choose File&nbsp;<span class="text-danger">*</span></label>
                <div class="col-sm-8 p-0">
                  <input type="file" id="file" formControlName="file" (change)="selectFile($event)" class="form-control">
                  <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                    <div *ngIf="f.file.errors.required">File is required</div>
                  </div>
                </div>
              </div>
            </div>
            <button class="submit" [disabled]="payUpdateForm.invalid" type="submit">Submit</button>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div *ngIf="!isPayslipSelected">
      <h4>Please Select PaySlip </h4>
    </div>
  
  </div>

  <div class="col-md-4 p-0 pdf-viewer">
    <pdf-viewer src="{{fileUpload}}" [render-text]="true" style="display: block;" 
    [original-size]="false" 
    ></pdf-viewer>
  </div>
  <a href="http://localhost:3000/api/v1/files/{{fileUpload}}">{{fileUpload}}</a>