img{
	max-width: 100%;
}
#header input{
	margin-left:15px;
	padding:0px 10px;
	border:1px solid grey;
	border-radius:10px;
	outline:none;
}
.content-end{
	justify-content: flex-end;
}
button,.average-swipe .fa{
	border:1px solid transparent;
	background-color: #470000;
	color:white;
}
button,.dropdown,.form-check-inline,.average-swipe span,.average-swipe .fa{
	width:auto;
}

.attendance-page{
	padding:20px;
}
.attendance span{
	border-bottom:2px solid black;
}
.attendance-report{
	background-color: #d3d0c8;
	padding:10px;
}
.dropdown-toggle{
	background-color:white;
	color: black;
}
.dropdown-menu a{
	color:black;
}
button{
	border-radius: 15px;
	padding:2px 10px;
}
.form-check-input:checked{
	border-color: #470000;
	background-color: #470000;
	border-radius: 2px;
	margin-top: 5px;
}
.average-swipe .fa{
	margin-left: auto;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
}
h6{
	color:#d18b42;
}
label{
	padding-left:10px;
}
tbody th{
	width: 172px;
	display: block;
}

/* #app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100%;
}

.day {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.name {
    padding-bottom: 5px;
} */