<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-3">
                <img src="../../../../assets/icons/images/user-profile.png" routerLink="../userProfile"
                        style="size: 40px;" class="rounded" alt="user-profile">
            </div>
            <div class="col-md-9" >
              <ng-container *ngFor="let emp of Employee" >
                <p><strong>{{ emp?.name }}</strong></p>
                <p class="lead">{{ emp?.designation  }}</p>
                <p >{{ emp?.state }}</p>
              </ng-container>
                
                <button type="button" class="btn btn-outline-light">VIEW DIRECT REPORTS</button>
            </div>
        </div> 
    </div>
</div>
<div class="d-flex justify-content-center">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="../userProfile/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >PERSONAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >ASSETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >OTHER</a>
        </li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>