<div class="Register-page">    
    <div class="pt-3 pl-3">
		<a class="d-block" href="#">
            <img src="../../../../assets/icons/images/logo1.png" alt="logo">
        </a>
	</div>
	<div class="text-white register mt-5">
        <h2>Sign up</h2>

        <div class="col-xs-12 col-md-offset-3 justify-content-center">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="alert alert-danger" *ngIf="message">
                    <p >{{message}}</p>
                </div>
                <input type="text" placeholder="First Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
                <input type="text" placeholder="Last Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
                <input type="text" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Username is required</div>
                </div>
                <input type="text" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                <div class="form-group signup py-3 m-0">
                    <button [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Sign up
                    </button>
                </div>
                <span>Already have an account ?<a routerLink="/login"> Sign in</a></span>
            </form>
        </div>
    </div>
</div>        


       




