.login-page{
    background-image:url(../../../../assets/icons/images/conference-room.jpg);
    background-size: 100% 100%;
}
img{
	width: 90%;
}
input,button{
	border:none;
	border-radius: 5px;
}
input{
	width:100%;
}
input[type="password"] {
    letter-spacing: 0em;
}
button{
	display: block;
	color:white;
	background-color: #2b9348;
	margin: 0px auto;
	padding:4px 20px;
}
strong{
	font-size: 17px;
	font-weight: normal;
}
.forot-password{
	text-align: center;
	display: block;
	padding:20px;
}
.create-account button{
	width:70%;
	margin:0px auto;
	padding:10px 0px;
	background-color:#ac492b;
}
a{
	color:white;
	padding:0px 10px;
}
a:hover{
	color:white;
	text-decoration: none;
}
.signin-page{
	width:35%;
	padding: 25px;
	background:rgba(0,0,0,.75);
    min-height: 100vh;
    margin-left: auto;
}
/* .privacy-policy{
	position: absolute;
	bottom:20px;
	font-size: 13px;
} */

