.login-page{
    background-image:url(../../../../assets/icons/images/conference-room.jpg);
    background-size: 100% 100%;
}
img{
	width: 80%;
    display: block;
    margin: 0px auto;
}
input,button{
	border:none;
	border-radius: 5px;
}
input{
	width:100%;
}
input[type="password"] {
    letter-spacing: 0em;
}
button{
	display: block;
	color:white;
	background-color:#ac492b;
}
button,.create-account button{
	width:67%;
	border-radius: 15px;
	margin: 0px auto;
	padding:5px 20px;
	outline: none;
}
strong{
	font-size: 17px;
	font-weight: normal;
}
.forgot-password a{
	text-align: end;
	display: block;
	font-size: 14px;
}
.create-account button{
    background-color: black;
    border: 1px solid #ac492b;
}
.signin-page{
	width:32%;
	padding: 25px;
	background:rgba(0,0,0,.75);
    min-height: 100vh;
    margin-left: auto;
}
/* .privacy-policy{
	position: absolute;
	bottom:20px;
	font-size: 13px;
} */

@media (min-width: 546px) and (max-width:768px){
	.create-account button{
		width:93% !important;
	}
}
