<div class="contact">
    <div class="row">
        <div class="col-xs-12">
            <h6>CONTACT DETAILS</h6>
            <div class="float-right" (click)="onEdit()">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Mobile  :- 9566778767
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            ExtNo  :- 9767
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Email/Skype  :- test@elaachi.com
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Twitter  :- test@twitter.com
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Facebook  :- test@facebook.com
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            LinkedIn  :- test@linkedin.com
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            WorkStation  :- -
        </div>
    </div>
</div>