<div class="contact" *ngFor="let emp of Employee; let i = index">
    <div class="row">
        <div class="col-xs-12">
            <h6>CONTACT DETAILS</h6>
            <!-- <div class="float-right" (click)="onEdit()"> -->
                <div class="float-right">
                <i class="fa fa-pencil" routerLink="/edit/{{emp.$id }}" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Mobile  :- {{ emp.mobile }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            ExtNo  :- {{ emp.extno }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Email :- {{ emp.email }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Twitter  :- {{ emp.twitter }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            Facebook  :- {{ emp.facebook }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            LinkedIn  :- {{ emp.linkedIn }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-12">
            WorkStation  :- {{ emp.workstation }}
        </div>
    </div>
</div>