<!-- <div class="header" style="margin-left: 40%;">
  <h1>
    Help&Support
  </h1>
  <p>Please do reach out to us if you have any queries<br>
    or need any support related to your purchase
  </p>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <h2>infraonSecuRA</h2>
        <p>powered by EverestIMS</p>
        <p>Zero trust Remote Aceess Platform</p>
        <p style="color:blue">Get FAQs/Support ></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card1">
        <h2>infraonSecuRA</h2>
        <p>powered by EverestIMS</p>
        <p>Take Charge of the Asset Lifecycle and Expense</p>
      </div>
    </div> -->