<div class="row m-0">
    <div class="col-md-6">
        <app-user-contact></app-user-contact>
    </div>
    <div class="col-md-6">
        <div id="accordion">
            <div class="card">
              <div class="col-md-12 row m-0 card-header" id="headingOne">
                  <div class="about-user"> 
                    <h6>LANGUAGES</h6>
                    <span class="pl-5">Add Languages</span>
                  </div>
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
                  </div>
              </div>
            </div>
      
            <div class="card">
              <div class="col-md-12 row m-0 card-header" id="headingTwo">
                <div class="about-user">
                  <h6>ACHIEVEMENTS</h6>
                  <span class="pl-5">Add Achievements</span>
                </div>
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
                  </div>
              </div>
            </div>
      
            <div class="card">
              <div class="col-md-12 row m-0 card-header" id="headingThree">
                <div class="about-user">
                  <h6>HOBBIES</h6>
                  <span class="pl-5">Add Hobbies</span>
                </div>
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
                  </div>
              </div>
            </div>
        </div>


      <!-- <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h6>LANGUAGES</h6>
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Add Languages
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
              </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
              </div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h6>ACHIEVEMENTS</h6>
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Add Achievements
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
              </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
              </div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header" id="headingThree">
            <h6>HOBBIES</h6>
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Add Hobbies
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
              </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada elementum accumsan.
              </div>
          </div>
        </div>
      </div> -->
    </div>
</div>