<div class="row m-0 mt-5 content-box">
    <div class="col-md-12 p-0">
      <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar> -->
      <table class="table table-hover">
        <thead>
          <th>S.N</th>
          <th (click)="sort('employee.firstName')">Employee</th>
          <th (click)="sort('leaveType.typeName')">Leave type Name</th>
          <th (click)="sort('fromDate')">From Date</th>
          <th (click)="sort('toDate')">To Date</th>
          <th (click)="sort('status')">Status</th>
          <th>Options</th>
        </thead>
        <tbody *ngIf="leaveRequests">
          <tr *ngFor="let leaverequest of leaveRequests | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
            <td>{{i+1}}</td>
            <td *ngFor="let leaveid of leaverequest.staffId"><a routerLink="/dashboard/employees/details/{{leaveid._id}}">
                {{ leaveid.firstName }}
              </a></td>
            <td *ngFor="let leave of leaverequest.leaveTypeId">{{leave.name}}</td>
            <!-- <td *ngFor="let leaveid of leaverequest.staffId">{{ leaveid._id }}</td> -->
            <td>{{leaverequest.dateFrom | date:'mediumDate'}}</td>
            <td>{{leaverequest.dateTo | date:'mediumDate'}}</td>
            <td [ngClass]="(leaverequest.status=='APPROVED')?'text-success':'text-danger'">{{leaverequest.status}}</td>
            <td class="edit-btn"><a routerLink="/dashboard/leaverequests/details/{{leaverequest._id}}">
                <button class="mr-2"><i class="fa fa-pencil-square-o font-weight-bold" aria-hidden="true"></i></button></a>
                <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- <div class="row col-md-12 mt-4">
        <div class="col-md-auto">
          <span *ngIf="leaveRequests" class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) *
            size
            + numberOfElements }} of {{totalElements}}</span>
        </div>
        <div class="col">
          <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
        </div>
      </div>
   -->
    </div>
  </div>