<div class="col-md-10 ml-auto mt-5">
    <div class="col-md-11 row m-0 ml-auto">
        <div class="col-md-3 access">
            <a href="#"><span>Apply Leave</span></a>
        </div>
        <div class="col-md-3 access">
            <a href="#"><span>Timelog</span></a>
        </div>
        <div class="col-md-3 access">
            <a href="#"><span>Attendance</span></a>
        </div>
        <div class="col-md-3 access">
            <a href="#"><span>Payslip</span></a>
        </div>
        <div class="col-md-3 access">
            <a href="#"><span>Users</span></a>
        </div>
        
    </div>
</div>