<div class="col-md-10 col-sm-12 ml-auto dashboard-page">
    <div class="col-md-11 row m-0">
        <div class="col-md-3 col-sm-4 access">
            <a href="#"><span>Apply Leave</span></a>
        </div>
        <div class="col-md-3 col-sm-4 access">
            <a href="#"><span>Timelog</span></a>
        </div>
        <div class="col-md-3 col-sm-4 access">
            <a href="#"><span>Attendance</span></a>
        </div>
        <div class="col-md-3 col-sm-4 access">
            <a href="#"><span>Payslip</span></a>
        </div>
        <div class="col-md-3 col-sm-4 access">
            <a href="#"><span>Users</span></a>
        </div>
        
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6 dash-calendar">
        <app-dash-calendar></app-dash-calendar>
    </div>
    <div class="col-md-6">
        <app-leaverequestperiod></app-leaverequestperiod>
    </div>

    <app-main-report></app-main-report>
</div>