span{
    font-size: 17px;
}
a{
    text-decoration: none;
    color:black;
}
.access{
    border:1px solid #ac492b;
    margin: 15px;
    padding: 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.access:hover{
    background-color:#832023;
    color:white;
}
a:hover{
    color: white;
}
.dashboard-page{
    margin-top:100px;
}


@media (min-width:546px) and (max-width:768px){
    span{
        font-size: 10px;
        font-weight: bold;
    }
}