
<div class="row m-0 mt-3 content-box">
  <div class="col-md-12 p-0">

    <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar> -->

    <form (ngSubmit)="searchEmployee(searchForm)" #searchForm="ngForm">

      <div class="row m-0 ml-2 justify-content-end">

        <div class="form-group col-6 p-0">
          <div class="input-group">
            <input type="text" name="q" class="form-control col-4" ngModel placeholder="Search" />
            <!-- <div class="input-group-btn w-50"> -->
              <button class="col-2 p-0 search mr-4" type="submit">search</button>
              <!-- <button class="col-2" type="submit" mat-raised-button>
                <mat-icon>search</mat-icon>
              </button> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </form>
    <input
  [(ngModel)]="model"
  (ngModelChange)="changed($event)"
  placeholder="Search..."
/>
    <table class="table table-hover">
      <thead>
        <th>S.N </th>
        <th (click)="sort('firstName')">Name
        </th>
        <th (click)="sort('phoneNumber')">Phone Number 
        </th>
        <th (click)="sort('email')">Email 
        </th>
        <!-- <th (click)="sort('supervisor.firstName')">Supervisor <mat-icon>swap_vert</mat-icon> -->
        <!-- </th> -->
        <th (click)="sort('role')">Role 
        </th>
        <th (click)="sort('status')">Status 
        </th>
        <th>Options</th>
      </thead>
      <tbody *ngIf="employees">
        <tr *ngFor="let result of searchResult;  let i = index">
          <td>{{i+1}}</td>
          <td>{{result.firstName}}</td>
          <td>{{result.phoneNumber > 0 ? result.phoneNumber : ''}}</td>
          <td>{{result.email}}</td>
          <!-- <td><a *ngIf="employee.supervisor" routerLink="/home/employees/details/{{employee.supervisor.employeeId}}">
                {{employee.supervisor.firstName}} {{employee.supervisor.middleName}} {{employee.supervisor.lastName}}
              </a></td> -->
          <td>{{result.role}}</td>
          <td [ngClass]="(result.status=='ACTIVE')?'text-success':'text-danger'">{{result.status}}</td>
          <td class="edit-btn"><a routerLink="/dashboard/employees/details/{{result._id}}">
                <button class="mr-2"><i class="fa fa-pencil-square-o font-weight-bold" aria-hidden="true"></i></button>
              </a>
              <button (click)="delete(result._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row col-md-12 mt-4">
      <div class="col-md-auto">
        <span *ngIf="employees" class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) * size
          + numberOfElements }} of {{totalElements}}</span>
      </div>
      <div class="col">
        <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>


<!-- <ng-container *ngIf="model">
<ul>
    <li *ngFor="let result of searchResult">
      {{ result|json}}
    </li>
    <li *ngIf="!results.length">
      No result
    </li>
  </ul>
</ng-container> -->