<div class="previous-page">
  <i class="fa fa-angle-left" aria-hidden="true"></i>
</div>
<select name="leaves" id="leaves">
<option value="Medical Leave">Medical Leave</option>
</select>
<div class="col-md-12 mt-3 p-0 ">
  <div class="row mx-3 p-2 calender">
      <div class="col-md-7 p-0 check-boxes">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Working Day</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Non-Working Day/Public Holiday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Approved</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Approval Pending</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Rejected</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Today</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Selected Day(s)</label>
          </div>
      </div>
      <div class="col-md-5 p-0">
          <div class="d-flex">
              <div>
                  <h5>0 Days</h5>
                  <small>Used</small>
              </div>
              <div class="ml-auto">
                  <h5>15 Days</h5>
                  <small>Available</small>
              </div>
          </div>
          <div class="approver my-4">
              <span class="d-block">Approver</span>
              <input type="text" id="fname" name="fname">
          </div>
          <div class="approver">
              <span class="d-block">Note</span>
              <textarea name="comments" id="comments"></textarea>
          </div>
          <div class="input-group upload-file">
            <div class="custom-file my-3 p-0">
              <input type="file" class="custom-file-input" id="inputGroupFile04">
              <label class="custom-file-label" for="inputGroupFile04">Add Attachment</label>
            </div>
          </div>
      </div>
  </div>
</div>