.card{
    height:80vh;
}
.task{
    margin:auto;
    border:2px solid black;
    border-radius:15px;
}
span{
    display: block;
    margin-top: 15px;
}
input,.dropdown{
    width:90%;
    margin-top: 6px;
    border:1px solid grey;
    border-radius: 5px;
}
.btn{
    padding:0px;
}
button{
    margin-top: 20px;
    padding:3px 10px;
    background-color: green;
    color: white;
    border: none;
    outline:none;
    border-radius:5px;
    font-size: 14px;
}
a#dropdownMenuLink:focus{
    box-shadow: none;
}
::after {
    position: absolute;
    right: 9px;
    top: 12px;
}