<div class="card">
    <div class="col-md-5 task p-4">
        <h4>Add Task</h4>
        <span>Task Name :</span>
        <input type="text">
        <span>Task Code :</span>
        <input type="text">
        <span>Task Status :</span>
        <div class="dropdown show">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Open</a>
              <a class="dropdown-item" href="#">Completed</a>
            </div>
        </div>
        <button>Submit</button>
    </div>
</div>
