<div class="row project-details">
    <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2 m-auto p-3">
        <h3 class="text-center mb-4">ADD NEW TASK</h3>
        <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
            <div class="form-group">
                <label for="taskname">Task Name:</label>
                <input type="text" id="taskName" class="form-control" [(ngModel)]="userData.taskName"
                    name="taskName" required>
            </div>
            <div class="form-group">
                <label for="taskCode">Task Code:</label>
                <input type="text" id="taskCode" class="form-control" [(ngModel)]="userData.taskCode"
                    name="taskCode" required projectCode #taskCode="ngModel">
                <!-- <span class="help-block" *ngIf="!projectCode.valid && projectCode.touched">Please enter a projectCode</span> -->
            </div>
            <!-- <div class="form-group">
                <label for="projectCode">projectCode:</label>
                <input type="text" id="project" class="form-control" [(ngModel)]="userData.project.projectCode"
                    name="projectCode" required>
            </div>
            <div class="form-group">
                <label for="projectName">projectName:</label>
                <input type="text" id="projectName" class="form-control" [(ngModel)]="userData.project.projectName"
                    name="projectName" required>
            </div> -->
            <button class="btn" type="submit">Submit</button>
        </form>

    </div>
</div>



























<!-- <div class="container">
    <div class="row project-details">
        <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2 m-auto p-3">
            <h3 class="text-center mb-4">ADD NEW TASK</h3>
            <form>
                <div class="form-group">
                    <label for="username">Task Name:</label>
                    <input type="text" id="projectName"class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="projectCode">Task Code:</label>
                    <input type="text" id="projectCode" class="form-control" required>
                </div> -->
                <!-- <div class="form-group">
                    <label for="projectCode">Task Status:</label>
                    <div class="dropdown show mb-4">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Open</a>
                            <a class="dropdown-item" href="#">Completed</a>
                        </div>
                    </div>
                </div> -->
                <!-- <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
         -->