.Register-page{
    background-image:url(../../../../assets/icons/images/signup-page.jpg);
	background-size: 100% 100%;
    min-height: 100vh;
}
img{
	width:20%;
}
input{
    width: 67%;
	letter-spacing: 0em;
	border-radius: 5px;
}
.card-body label{
	font-size: 20px;
    font-weight: bold;
}
.card{
	color: black;
}
.card-header{
	font-weight: bold;
    font-size: 20px;
}
button{
	background-color: #ac492b;
}
.register{
	position: absolute;
    width: 30%;
    background: grey;
    border-radius: 5px;
    top: 10px;
    right: 30px;
    padding: 0px;
	/* border:1px solid grey; */
    
}
