.reset-page{
    background-image:url(../../../../assets/icons/images/reset-password.jpg);
	background-size: 100% 100%;
    min-height: 100vh;
}
img{
	width:20%;
}
input{
    width: 100%;
	letter-spacing: 0em;
    border-radius: 5px;
    border:1px solid grey;
    margin-top:5px;
    padding:2px;
}
.card-body label{
	font-size: 17px;
}
.card{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(0,0,0,.85);
    padding:22px;
}
h4{
    font-size: 29px;
}
button{
    background-color: #ac492b;
    padding:0px 8px;
    margin-top:7px;
}
.reset-password{
	position: absolute;
    width: 29%;
    top: 75px;
    left:40px;
}

@media (min-width: 546px) and (max-width: 768px){
	.reset-password{
        width: 35%;
        top: 40px;
        left:40px;
    }
}