.reset-page{
    background-image:url(../../../../assets/icons/images/reset-password.jpg);
	background-size: 100% 100%;
    min-height: 100vh;
}
img{
	width:20%;
}
input{
    letter-spacing: 0em;
}
.input-group input{
    width:100%;
    border-radius: 5px;
    border:1px solid grey;
    padding:2px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-body label{
	font-size: 17px;
}
.card{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(0,0,0,.85);
    padding:22px;
}
h4{
    font-size: 29px;
}
.login_btn{
    background-color: #ac492b;
    padding: 3px 10px;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
}
.reset-password{
	position: absolute;
    width: 29%;
    top: 75px;
    left:40px;
}

@media (min-width: 546px) and (max-width: 768px){
	.reset-password{
        width: 35%;
        top: 40px;
        left:40px;
    }
}