<div class="reset-page">    
    <div class="pt-3 pl-3">
		<a class="d-block" href="#">
            <img src="../../../../assets/icons/images/logo1.png" alt="logo">
        </a>
	</div>
	<div class="text-white reset-password mt-5">
		<div class="card">
			<h4>RESET PASSWORD</h4>
			<div class="card-body p-0">
				<div class="my-4">
					<label for="password">New Password</label>
					<input type="password" name="password"placeholder="new password">
				</div>
				<div class="my-3">
					<label for="password"> Re-enter new Password</label>
					<input type="password" name="password"placeholder="confirm password">
				</div>
			</div> 
			<div class="card-footer d-flex">
				<button id="cancel" name="cancel" class="btn btn-default ml-auto" value="1">Cancel</button>
				<button id="save" name="save" class="btn btn-default ml-2" value="1">save</button>
			</div>
		</div>
    </div>
</div>
