button{
    border: none;
    outline: none;
    background-color:darkgrey;
    padding: 3px 9px;
    margin:18px 0px 15px 20px;
}
input{
    width: 91%;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 4px;
    margin:20px 0px 0px 20px;
}
.skills{
    margin:0px auto;
    padding:25px;
    background-color: #e9ecef;;
}