<div class="col-md-7 p-0 assets-page mt-2 mb-3">
    <div class="text-center my-3">
        <h3>Assets Issued List</h3>
    </div>
    <table class="table table-striped mt-4 mb-0">
        <thead>
            <tr class="heading">
                <th scope="col">NO.</th>
                <th  scope="col">NAME</th>
                <th scope="col">QTY.</th>
                <th class="price" scope="col">PRICE</th>
                <!-- <th scope="col">TOTAL</th> -->
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Laptop</td>
            <td>1</td>
            <td>40,000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Charger</td>
            <td>1</td>
            <td>5,000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mobile/Tab</td>
            <td>1</td>
            <td>35,000</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- <div class="assets">
    <h2>ASSETS</h2>
    <div class="row m-0">
        <div class="dropdown col-md-2 p-0">
            <button class="btn btn-secondary dropdown-toggle m-0" type="button" data-toggle="dropdown">Employ-code:
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <div class="input-group">
                        <input type="text" class="form-control m-0" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li><a href="#">061</a></li>
                <li><a href="#">062</a></li>
            </ul>
        </div>
        <div class="col-md-10 p-0">
            <button type="button" class="btn btn-secondary">UI team</button>
            <button type="button" class="btn btn-secondary">Developing team</button>
            <button type="button" class="btn btn-secondary">Testing team</button>
        </div>
    </div>
    <input type="search" id="gsearch" name="gsearch" placeholder="search employ name">
</div>
<div class="col-md-12 p-0 row m-0">
    <div class="col-md-6 p-3 person-details">
        <div class="w-50">
            <img src="../../../../assets/icons/images/user-profile.png" alt="avatar" width="20%">
        </div>
        <div class="w-50 person-assets">
            <h2>Person Assets</h2>
            <span>Person Name:</span>
            <span>Laptop-name:</span>
            <span>Model number:</span> -->
            <!-- <select class="mdb-select md-form" searchable="Search here..">
                <option value="" disabled selected>Person Name:</option>
                <option value="1">Shiva</option>
                <option value="2">Lokesh</option>
                <option value="3">Sai ram</option>
                <option value="3">Judy</option>
            </select>
            <select class="mdb-select md-form" searchable="Search here..">
                <option value="" disabled selected>Laptops</option>
                <option value="1">Lenovo</option>
                <option value="2">Dell</option>
                <option value="3">Apple</option>
                <option value="3">samsung</option>
            </select>
            <select class="mdb-select md-form" searchable="Search here..">
                <option value="" disabled selected>Model no:</option>
                <option value="1">#ABA</option>
                <option value="2">#ABB</option>
                <option value="3">#ABC</option>
                <option value="3">#ABD</option>
            </select> -->
        <!-- </div>
    </div>
</div> -->
<!-- <div class="assets text-center">
        <h2>ASSETS</h2>
        <select name="assets" id="Assets">
            <option value="Laptops">Laptops
            </option>
            <option value="Chargers">Others</option>
        </select>
    </div> -->