<div class="password-page">    
    <div class="pt-3 pl-3">
		<a class="d-block" href="#">
            <img src="../../../../assets/icons/images/logo1.png" alt="logo">
        </a>
	</div>
	
	<div class="container">
		<div class="card password text-white">
			<div class="card-header p-0">
				<h2>FORGOT PASSWORD</h2>
			</div>
			<div class="card-body p-0">
				<span>Please enter your registered email id to recieve password reset link.
				</span>
				
				<div class="input-group form-group mb-4">
					
					<input type="text" placeholder="user@example.com" [(ngModel)]="email" (keyup.enter)="resetPassword()" class="form-control">
					<span *ngIf="error">{{error}}</span>
				</div>
				
				<div class="form-group text-center mb-0">
					<input type="submit" value="Send" [disabled]="!email" (click)="resetPassword()" class="login_btn">
					<input type="submit" value="Back" routerLink="/login" class="login_btn">
				</div>
			</div>
		</div>
	</div>
</div>
