.password-page{
    background-image:url(../../../../assets/icons/images/thinking.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
}
img{
	width:20%;
}
h2{
	font-size: 31px;
}
input,button{
	width:100%;
	border:none;
	border-radius: 6px;
}
a,a:hover,button{
	color:white;
}
input{
	margin-top: 19px;
    padding: 5px 7px;
}
button{
	padding: 4px 0px;
    background-color: #ac492b;
    font-size: 13px;
    width: 28%;
    margin: 15px 0px;
    display: block;
    outline: none;
}
span{
	font-size: 15px;
    display: inline-block;
    padding-top: 5px;
}
.password a{
	text-align: center;
	display: block;
	font-size: 19px;
	padding-top: 2px;
}
.password{
	position: absolute;
	width:32%;
	background:rgba(0,0,0,.85);
	border-radius: 10px;
	top:50px;
	right: 55px;
	padding:30px;
	border:1px solid grey;
    
}
@media (min-width: 546px) and (max-width: 768px){
	.password{
		width: 36%;
		top: 50px;
		right: 27px;
	}
	h2{
		font-size: 25px;
	}
	span{
		font-size: 13px;
	}
	input{
		margin-top: 16px;
	}
	.password a{
		font-size: 16px;
	}
}