<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mx-auto mt-5 col-md-7 form-box">

    <div *ngIf="!!create_event_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{create_event_msg}}</div>
  
    <h4 class="form-title text-center">Create New Event</h4>

    <!-- <form [formGroup]="projectForm"> -->
      <div class="project-names">
        <select  formControlName="projectCode"
          (ngModelChange)="getData(eventForm.value)">
          <option>Select Project</option>
          <option *ngFor="let prj of projectDetails" [ngValue]="prj">
            {{ prj.projectCode }}
          </option>
        </select>
        <span class="pl-4">ProjectName :<b> {{projectName}}</b></span>
      </div>
      <div *ngIf="submitted && f.projectCode.errors" class="invalid-feedback">
        <div *ngIf="f.projectCode.errors.required">TaskCode is required</div>
      </div>
    <!-- </form> -->
   
    <div class="form-group row m-0">
      <label for="title" class="col-sm-3 col-form-label p-0">TaskName&nbsp;<span class="text-danger">*</span></label>
      <div class="col-sm-9 p-0 pb-3">
        <input type="text" id="taskName" formControlName="taskName" class="form-control" placeholder="TaskName"
          [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }" />
        <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
          <div *ngIf="f.taskName.errors.required">TaskName is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row m-0">
        <label for="title" class="col-sm-3 col-form-label p-0">TaskCode&nbsp;<span class="text-danger">*</span></label>
        <div class="col-sm-9 p-0 pb-3">
          <input type="text" id="taskCode" formControlName="taskCode" class="form-control" placeholder="TaskCode"
            [ngClass]="{ 'is-invalid': submitted && f.taskCode.errors }" />
          <div *ngIf="submitted && f.taskCode.errors" class="invalid-feedback">
            <div *ngIf="f.taskCode.errors.required">TaskCode is required</div>
          </div>
        </div>
      </div>
  
    <div class="form-group row m-0">
      <label for="startDate" class="col-sm-3 col-form-label p-0">Start Date&nbsp;<span class="text-danger">*</span></label>
      <div class="col-sm-9 p-0 pb-3">
        <input type="text" id="startDate" formControlName="startDate" class="form-control" bsDatepicker [minDate]="minDate" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placeholder="Date From"
          [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
          <div *ngIf="f.startDate.errors.required">Start Date is required</div>
        </div>
      </div>
    </div>
  
    <div class="form-group row m-0">
      <label for="endDate" class="col-sm-3 pr-0 col-form-label p-0">End Date &nbsp;<span class="text-danger">*</span></label>
      <div class="col-sm-9 p-0">
        <input type="text" id="endDate" formControlName="endDate" class="form-control" bsDatepicker [minDate]="minDate" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placeholder="Date To"
          [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
          <div *ngIf="f.endDate.errors.required">End Date is required</div>
        </div>
      </div>
    </div>
  
    <button class="mt-4 btn-block" type="submit">Submit</button>
  
  </form>
