.form-box{
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
}
button{
    border-radius: 5px;
    background-color: #ac492b;
    color: #fff;
    border: none;
    width: 15%;
    margin: 0px auto;
    padding: 4px;
    font-size: 15px;
}
.project-names{
    padding:20px 0px 33px;
}