.projects .fa{
    font-size: 20px;
    padding-right: 6px;
}
.projects {
    border-bottom:1px solid grey;
    padding:10px 0px;
    text-align: center;
    margin-top:71px;
}
.projects a{
    color: #832023;
    text-decoration: none;
}
