<h1>Upload PaySlip</h1>
<div>
    <label>Pdf src</label>
    <input (change)="onFileSelected()" type="file" id="file">
    <input [(ngModel)]="page" type="text" id="page">
</div>
<pdf-viewer [src]="pdfSrc" 
    [render-text]="true" 
    [page]="page"
    [show-all]="false"
    style="display: block;"
></pdf-viewer>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>

<div style="text-align: center;">
  <h1>
    {{ title }}
  </h1>

  <form id="gSearch" method="GET" #gSearch action="https://www.google.com/search"></form>
  <div id="voicesearch">
    <input #searchKey name="q" type="hidden">
    <div (click)="voiceSearch()" id="icon-mic">
      <p>mic</p>
    </div>
  </div>
</div> -->


<!-- <form class="mx-auto col-md-6 mb-4 payslip">
    <h4 class="form-title">Payslip</h4>
  
    <div class="form-group row m-0 my-4">
      <label for="employee" class="col-sm-4 col-form-label">Employee :</label>
      <div class="col-sm-7 pt-2 p-0">
        <select>
            <option>Select Staff</option>
            <option>Bhavani</option>
            <option>Revanth</option>
            <option>Kishore</option>
        </select>
      </div>
    </div>

    <div class="form-group row m-0 my-4">
      <label for="date" class="col-sm-4 col-form-label">Date :</label>
      <div class="col-sm-7 p-0 mt-1">
        <input type="text" id="date" formControlName="date" class="form-control" placeholder="Date"/>
      </div>
    </div>

    <div class="form-group row m-0 my-4">
      <label for="file" class="col-sm-4 col-form-label pr-0">Choose File :</label>
      <div class="col-sm-7 mt-1 p-0">
        <input type="file" id="file" formControlName="fileChosen" (change)="upload($event.target.files)" class="form-control"/>
      </div>
    </div>
    <button type="submit">Submit</button>
</form> -->



<div class="payslip-table">
  <table class="table table-hover">
    <thead>
        <th>S.N</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Options</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bhavani</td>
        <td>1234567890</td>
        <td>bhavani@gmail.com</td>
        <td>Employee</td>
        <td>
            <div class="form-check px-4">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">ACTIVE</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">INACTIVE</label>
            </div>
        </td>
        <td class="edit-btn">
            <button class="mr-2"><i class="fa fa-pencil-square-o font-weight-bold" aria-hidden="true"></i></button>
            <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>