<!-- <div>
    <label>Pdf src</label>
    <input (change)="onFileSelected()" type="file" id="file">
    <input [(ngModel)]="page" type="text" id="page">
</div>
<pdf-viewer [src]="pdfSrc"
    [render-text]="true"
    [page]="page"
    [show-all]="false"
    style="display: block;"
></pdf-viewer> -->


<form [formGroup]="payslipForm" (ngSubmit)="onSubmit()" class="mx-auto px-4 col-md-6 mt-4 form-box">

  <div *ngIf="!!create_payslip_req_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{create_payslip_req_msg}}</div>
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
  <h4 class="pt-3 form-title text-center">Upload Payslip</h4>

  <div class="form-group row m-0 mt-4">
    <label for="staffs" class="col-sm-4 col-form-label p-0">Select Staff&nbsp;<span class="text-danger">* </span></label>
    <div class="col-sm-8 p-0 pb-4 staff">
      <select formControlName="staffId" (ngModelChange)="getData(payslipForm.value)">
          <option>Select Staff</option>
          <option *ngFor="let staff of staffList" [ngValue]="staff">
              {{ staff.firstName }}
          </option>
      </select>
    </div>
  </div>

  <!-- <div class="form-group row m-0">
    <label for="dateissued" class="col-sm-4 col-form-label p-0">Date&nbsp;<span class="text-danger">*</span></label>
    <div class="col-sm-8 p-0 pb-4">
      <input type="text" id="dateissued" formControlName="dateIssued" class="form-control" bsDatepicker [minDate]="minDate" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'YYYY-MM-DD' }" placeholder="Date"
        [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
      <div *ngIf="submitted && f.dateIssued.errors" class="invalid-feedback">
        <div *ngIf="f.dateIssued.errors.required">Date is required</div>
      </div>
    </div>
  </div> -->
  <div class="form-group row m-0 mt-4">
    <label for="mon" class="col-sm-4 col-form-label p-0">Select Month&nbsp;<span class="text-danger">* </span></label>
    <div class="col-sm-8 p-0 pb-4 staff">
      <select formControlName="month" (ngModelChange)="getMonthData(payslipForm.value)">
          <option>Select Month</option>
          <option *ngFor="let month of monthNames" [ngValue]="month">
              {{ month }}
          </option>
      </select>
    </div>
  </div>
  <div class="form-group row m-0 mt-4">
    <label for="mon" class="col-sm-4 col-form-label p-0">Select Year&nbsp;<span class="text-danger">* </span></label>
    <div class="col-sm-8 p-0 pb-4 staff">
      <select formControlName="year" (ngModelChange)="getYearData(payslipForm.value)">
          <option>Select Year</option>
          <option *ngFor="let year of years" [ngValue]="year">
              {{ year }}
          </option>
      </select>
    </div>
  </div>
  <div formArrayName="file">
    <div class="form-group row m-0 mb-4">
      <label for="file" class="col-sm-4 col-form-label p-0">Select File</label>
      <div class="col-sm-8 p-0">
        <input type="file" id="file" formControlName="file" (change)="selectFile($event)" class="form-control">
        <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
          <div *ngIf="f.file.errors.required">File is required</div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>

</form>

<!-- <div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
